{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author Name</th>
        <th>Date Published</th>
        <th>On IB Reading list</th>
        <th>Checked In</th>
		<th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td><button type="button"> {{ book.bookName }}</button></td>
          <td>{{ book.authorString }}</td>
          <td>{{ book.publishedDate }}</td>
          <td>{{ book.onIbReadingList }}</td>
          <td>{{ book.checkedIn }}</td>
          <td>{{ book.tagString }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
		dom: 'frtBip',
		buttons: [{
                text: 'My button',
                action: function ( e, dt, node, config ) {
                    alert( 'Button activated' );
                }
            }]
      });
    });
  </script>
{% endblock %}
