{% extends "basic_display.html" %}
{% block title %}Check Out{% endblock %}
{% block content %}


    <form method="post">
        <label for="student_name">Student Name</label>
        <br>
        <input type="text" name="student_name"
               placeholder="Full Student Name"
               value="{{ request.form['student_name'] }}"></input>
        <br>

        <label for="submit_date">Current Date</label>
        <br>
        <textarea name="submit_date"
                  placeholder="m/d/y"
                  >{{ request.form['submit_date'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}