{% extends "basic_display.html" %}
{% block title %}Check Out{% endblock %}
{% block content %}


    <form method="post">
        <label for="student_name">Student Name</label>
        <br>
        <input type="text" name="student_name"
               placeholder="Full Student Name"
               value="{{ request.form['student_name'] }}"></input>
        <br>

        <label for="submit_date">Current Date</label>
        <br>
		<input type="date" id="submit_date" name="submit_date">

        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}